* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#text {
  line-height: 34px;
}

#author {
  text-align: end;
  padding-top: 15px;
}

#quote-box {
  padding: 40px;
  border-radius: 10px;
}
.quote-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.new-quote button {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.tweet-quote {
  align-self: center;
}

#tweet-quote {
  padding: 7px 10px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
  #author {
    font-size: 16px;
  }
}

@media screen and (max-width: 380px) {
  h1 {
    font-size: 26px;
    line-height: 20px;
  }
  #author {
    font-size: 14px;
  }
}